.container {

    /* background-color: rgba(243, 230, 230, 0.114); */
}

.top {
    margin-top: 20px;
}

.head {
    width: 400px;
    height: 400px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: gray;
    overflow-y: scroll;
    overflow-x: scroll;
    border-top-left-radius: 50px;
}

.scroll {
    background-color: lightgreen;
}

.para {
    margin-top: 5px;
    text-align: center;
    color: red;
}

.header {
    width: 400px;
    height: 400px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: gray;
    overflow-y: scroll;
    overflow-x: scroll;
    border-top-left-radius: 50px;
}

.headers {
    width: 400px;
    height: 400px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: gray;
    overflow-y: scroll;
    overflow-x: scroll;
    border-top-left-radius: 50px;
}

.img {
    width: 100px;
    height: 100px;
    margin: 10px;
}